{% extends 'boardgames/base.html' %}

{% load game_index_extras %}

{% block title %}Board Games{% endblock %}

{% block content %}
    <script type="text/javascript">
        function intOrString(value, setHigh){
            if(isNaN(value))
            {
                if(value == "None")
                {
                    if(setHigh)
                    {
                        return Number.MAX_SAFE_INTEGER;
                    }
                    else{
                        return 0;
                    }
                }
                return value.toLowerCase();
            }
            else
            {
                return parseFloat(value);
            }
        }

        function sortFunction(element){
            siblings = element.parentElement.children;
            column = 0;
            for(column; column < siblings.length; column++)
            {
                if(siblings[column] === element){
                    break;
                }
            }

            var mult = 1;

            if($(element).hasClass("inc"))
            {
                mult = -1;
                $(element).removeClass("inc");
                $(element).addClass("dec");
            }     
            else if($(element).hasClass("dec"))
            {
                $(element).removeClass("dec");
                $(element).addClass("inc");
            }

            var $tbody = $('#game_stats tbody');
            $tbody.find('tr').sort(function(a,b){ 
                var tda = intOrString($(a).find('td:eq('+column+')').text(), mult == 1); // can replace 1 with the column you want to sort on
                var tdb = intOrString($(b).find('td:eq('+column+')').text(), mult == 1); // this will sort on the second column
                        // if a < b return 1
                var equality =  tda > tdb ? 1 
                    // else if a > b return -1
                    : tda < tdb ? -1 
                    // else they are equal - return 0    
                    : 0;
                return equality * mult;
            }).appendTo($tbody);
        }
    </script> 

    {% if boardgame %}
        <ul>
            <li>Name: {{boardgame.name}}</li>
            <li>Average: {{boardgame.average}}</li>
            <li>Weight: {{boardgame.weight}}</li>
            <li>Categories:             
                <ol>
                {% for category in boardgame.categories.all %}
                    <li><a href="/boardgames/categories/{{category.id}}/">{{ category.category_name }}</a></li>
                {% endfor %}
                </ol></li>
            <li>Mechanics:             
                <ol>
                {% for mechanic in boardgame.mechanics.all %}
                    <li><a href="/boardgames/mechanics/{{mechanic.id}}/">{{ mechanic.mechanic_name }}</a></li>
                {% endfor %}
                </ol>
            </li>
            {% if boardgame.base_game %}
            <li>Base game:
                <ul><a href="/boardgames/games/{{boardgame.base_game.id}}/">{{boardgame.base_game.name}}</a></ul>
            </li>
            {% endif %}
            {% if expansions %}
            <li>Expansions:
                <ol>
                    {% for expansion in expansions %}
                        <li><a href="/boardgames/games/{{expansion.id}}/">{{ expansion.name }}</a></li>
                    {% endfor %}
                    </ol>
            </li>
            {% endif %}
            <li>Times Played: {{ boardgame.plays|get_play_count }}</li>
        </ul>
        <h2>Game Statistics</h2>
        {% if game_stats or stats_graph %}
            <table class="table" id="game_stats">
                <thead>
                    <tr>
                        <th class='dec' scope="col" onClick='sortFunction(this);'>
                            Name<i class="fa fa-fw fa-sort"></i>
                        </th>
                        <th class='inc' scope="col" onClick='sortFunction(this);'>
                            Plays<i class="fa fa-fw fa-sort"></i>
                        </th>
                        <th class='inc' scope="col" onClick='sortFunction(this);'>
                            Wins<i class="fa fa-fw fa-sort"></i>
                        </th>
                        <th class='inc' scope="col" onClick='sortFunction(this);'>
                            Win %<i class="fa fa-fw fa-sort"></i>
                        </th>
                        <th class='inc' scope="col" onClick='sortFunction(this);'>
                            Time Last Played<i class="fa fa-fw fa-sort"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for player, player_stats in game_stats.items %}
                        <tr>
                            <td>{{player}}</td>
                            <td>{{player_stats.plays}}</td>
                            <td>{{player_stats.wins}}</td>
                            <td>{{player_stats.plays|game_win_percent:player_stats.wins}}</td>
                            <td>{{player_stats.time_last_played}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% autoescape off %}
            {{ stats_graph }}
        {% endautoescape %}
    {% else %}
        <p>No boardgames are available.</p>
    {% endif %}
{% endblock %}