{% extends 'boardgames/base.html' %}

{% load game_index_extras %}

{% block title %}Board Games{% endblock %}

{% block content %}
    {% if player %}
    <h2>{{player.player_name}}</h2>
        <table class="table" id="boardgame_table">
            <thead>
                <!-- <tr>
                    <th>{{player.player_name}}</th>
                    <th>Wins</th>
                    <th>Win %</th>
                </tr> -->
            </thead>
            <tbody>
                <!-- {% for player in players %}
                    <tr>
                        <td scope="row">
                            <a href="#">{{player.player_name}}</a>
                        </td>
                        <td>{{player.win_count}}</td>
                        <td></td>
                    </tr>
                {% endfor %} -->
            </tbody>
        </table>
    {% else %}
        <p>No player stats are available.</p>
    {% endif %}
    <h2>Against Others</h2>
    {% autoescape off %}
        {{ against_others_graph }}
    {% endautoescape %}
{% endblock %}
